@font-face {
    font-family: 'TitilliumWebRegular';
    src: url('./font/TitilliumWebRegular.eot');
    src: local('TitilliumWebRegular'), url('./font/TitilliumWebRegular.woff') format('woff'), url('./font/TitilliumWebRegular.ttf') format('truetype');
}

html {
    font-family: TitilliumWebRegular, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
    background: #F0F0F0;
    color: black;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: left;
    font-size: 200%;
}

dl dd {
    margin-left: 2rem;
}

#banner {
    display: block;
    width: 100%;
    height: 160px; /* exact height to match the banner image */
    background: url(./img/banner.png) repeat-x;
    z-index: -1;
}

header, section {
    display: block;
    padding: 0.5rem 1rem;
    margin: 0 auto;
    max-width: 960px;
    box-sizing: border-box;
    background: white;
}

#navigation-stripe {
    display: block;
    background: white;
    box-shadow: 0 0 3px #CCC;
    width: 100%;
    z-index: 2;
    position: relative; /* z-index only affects positioned elements */
}

#navigation-area {
    display: block;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 1rem;
    box-sizing: border-box;
    line-height: 3rem;
    position: relative; /* for placement of #sitelogo */
}

#sitelogo {
    width: 150px;
    border-radius: 5px;
    box-shadow: 0 0 5px #CCC;
    position: absolute;
    top: -50px;
    left: 1rem;
}

#navigation {
    margin-left: calc(150px + 1rem);
}

header {
    /* this placement is a bit more complicated because it needs to take the
     * overflowing sitelogo into account */
    padding-top: calc(100px - 3rem);
}

.hidden {
    display: none;
}

.important {
    font-size: 120%;
}
