@font-face {
    font-family: 'TitilliumWebRegular';
    src: url('./font/TitilliumWebRegular.eot');
    src: local('TitilliumWebRegular'), url('./font/TitilliumWebRegular.woff') format('woff'), url('./font/TitilliumWebRegular.ttf') format('truetype');
}

html {
    font-family: TitilliumWebRegular, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
    width: 100%;
    background: white;
    color: black;
}

h1 {
    text-align: left;
    font-size: 200%;
}

header {
    display: block;
    width: 80%;
    margin-left: 12rem;
    margin-top: 1rem;
}

section {
    display: block;
    width: 80%;
    margin-left: 12rem;
}

dl dd {
    margin-left: 2rem;
}

#banner {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 160px; /* exact height to match the banner image */
    background: url(./img/banner.png) repeat-x;
}

header {
    margin-top: calc(160px + 2rem);
}

.title-img {
    display: block;
    position: absolute;
    top: 160px;
    left: 0;
    width: 10rem;
    margin: 1rem;
}

.hidden {
    display: none;
}

.important {
    font-size: 120%;
}
