@font-face {
    font-family: 'TitilliumWebRegular';
    src: url('./font/TitilliumWebRegular.eot');
    src: local('TitilliumWebRegular'), url('./font/TitilliumWebRegular.woff') format('woff'), url('./font/TitilliumWebRegular.ttf') format('truetype');
}

html {
    font-family: TitilliumWebRegular, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
    background: #F0F0F0;
    color: black;
    margin: 0;
    padding: 0;
}

/********** header **********/

#banner {
    display: block;
    width: 100%;
    height: 160px; /* exact height to match the banner image */
    background: url(./img/banner.png) repeat-x;
}

#navigation-stripe {
    display: block;
    background: white;
    box-shadow: 0 0 3px #CCC;
    width: 100%;
    z-index: 2;
    position: relative; /* z-index only affects positioned elements */
}

#navigation-area {
    display: block;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 0.5rem 0 1rem;
    box-sizing: border-box;
    line-height: 3rem;
    position: relative; /* for placement of #sitelogo */
}

#sitelogo {
    width: 150px;
    border-radius: 5px;
    box-shadow: 0 0 5px #CCC;
    position: absolute;
    top: -50px;
    left: 1rem;
    background: white;
}
#sitelogo:hover {
    box-shadow: 0 0 8px #CCC;
}

ul#navigation {
    margin: 0;
    margin-left: calc(150px + 1rem);
    list-style: none;
    display: inline;
    padding: 0;
}

ul#navigation > li {
    display: inline;
    margin: 0;
    padding: 0;
}

ul#navigation > li > a {
    display: inline-block;
    color: inherit !important;
    text-decoration: none !important;
    line-height: 1rem;
    padding: 0.5rem;
    border-radius: 3px;
    font-weight: bold;
}

ul#navigation > li.floated-icon {
    float: right;
    position: relative;
    top: 2px;
}

ul#navigation > li > a > i.fa {
    font-size: 1.8rem;
}

ul#navigation > li.turquoise > a:hover,
ul#navigation > li.turquoise > a:active,
ul#navigation > li.turquoise > a:focus {
    background: #28ADB8;
    color: white !important;
}

ul#navigation > li.violet > a:hover,
ul#navigation > li.violet > a:active,
ul#navigation > li.violet > a:focus {
    background: #654BC7;
    color: white !important;
}

ul#navigation > li.green > a:hover,
ul#navigation > li.green > a:active,
ul#navigation > li.green > a:focus {
    background: #6BBB00;
    color: white !important;
}

ul#navigation > li.twitter-blue > a:hover,
ul#navigation > li.twitter-blue > a:active,
ul#navigation > li.twitter-blue > a:focus {
    background: #55ACEE;
    color: white !important;
}

ul#navigation > li.github-black > a:hover,
ul#navigation > li.github-black > a:active,
ul#navigation > li.github-black > a:focus {
    background: #333333;
    color: white !important;
}

/********** condensed header layout for mobile **********/

/* This reverts some rules below, which apply to the content area, through !important. */

@media (max-width: 700px) {
    #sitelogo {
        top: -170px;
    }

    #navigation-area {
        padding: 0 0.5rem;
    }
    ul#navigation {
        margin-left: 0;
    }

    h1 {
        margin-left: 1rem !important;
    }
}

/* On very narrow screens (e.g. iPhone 5), we condense spacings in the
 * navigation a bit to keep it from breaking to the next line. */
@media (max-width: 23rem) {
    #navigation-area {
        padding: 0 0.3rem;
    }
    ul#navigation > li > a {
        padding: 0.3rem;
    }
}
@media (max-width: 20rem) {
    #navigation-area {
        padding: 0;
    }
}

/********** content area **********/

#content-container {
    display: block;
    padding: 1rem 0;
    margin: 0 auto;
    max-width: 960px;
    box-sizing: border-box;
    background: white;
    box-shadow: 0 0 3px #CCC;
}

#content-container > section > * {
    margin: 1rem;
}
#content-container > section:not(.notopmargin):first-child > *:first-child {
    /* this placement is a bit more complicated because it needs to take the
     * overflowing sitelogo into account */
    margin-top: calc(100px - 3rem);
}

h1 {
    text-align: left;
    font-size: 200%;
}

#content-container > section:not(.notopmargin):first-child > h1:first-child {
    /* when the content starts with a <h1>, move it next to the overflowing sitelogo */
    margin-top: 0rem;
    margin-left: calc(150px + 2rem);
}

dl dd {
    margin-left: 2rem;
}

.hidden {
    display: none;
}

.important {
    font-size: 120%;
}

/********** special rules for themen.html **********/

#content-container.nopadding {
    padding-top: 0;
}

#content-container section .imageheader {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    padding: 0;
    min-height: 200px;
    position: relative; /* for .imagecredit placement */
}

.imageheader h1 {
    margin: 1rem 0;
    margin-left: 1rem;
    display: inline-block;
    padding: 0 1rem;
    border-radius: 5px;
    font-size: 2rem;
    font-weight: bold;
    color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

section.turquoise h1 {
    background-color: #28ADB8;
}
section.violet h1 {
    background-color: #654BC7;
}
section.green h1 {
    background-color: #6BBB00;
}

section:first-child .imageheader h1 {
    margin-left: calc(150px + 2rem);
}

p.conclusion {
    font-weight: bold;
}

.imageheader p.imagecredit {
    position: absolute;
    bottom: 0.5rem;
    right: 0.5rem;
    margin: 0;
    padding: 0.1rem 0.3rem;
    background: white;
    border-radius: 3px;
    color: black;
    font-size: 0.7rem;
}

p.imagecredit > a[href*=imagecredit] {
    font-size: 1rem;
    color: black !important;
    cursor: default;
}

p.imagecredit > span {
    margin-left: 0.3rem;
    position: relative;
    top: -0.15rem;
}

p.imagecredit:target > span {
    /* hidden by default on mobile, see above */
    display: inline;
}

@media (max-width: 700px) {
    /* enable compact image credit on themen.html */
    p.imagecredit > a[href*=imagecredit] {
        cursor: pointer;
    }
    p.imagecredit > span {
        display: none;
    }
